:root {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

/*INPUT USER SECTION*/
.beginning-container {
  font-family: "Montserrat", sans-serif;
}

.banner h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
  text-align: right;
  padding-top: 20px;
  margin: 0;
  line-height: 1.28571429em;
}

.banner img {
  width: 120px;
}

/*texto e input*/
.beginning-container p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  padding: 20px 0 10px;
  margin: 0;
}

.beginning-container input {
  width: 56%;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: grey;
  box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 50px;
  margin: 0px 0px 0px 22%;
}

.beginning-container button {
  position: absolute;
  margin: 0 0 0 -3.1rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: #40ff2f;
}


/*pagina que muestra la lista de poekemones*/
.PokedexContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.9rem;
  padding-top: 50px;
  margin-left: 30px;
  text-align: left;
}

.PokedexContainer p {
  text-align: left;
  padding: 10px 0 40px 30px;
  font-size: 1.1rem;
}


.PokedexContainer select, .PokedexContainer input {
  width: 100%;
  max-width: 400px;
  height: 60px;
  border-radius: 30px;
  border: 0;
  outline: none;
  font-size: 19px;
  padding-left: 20px;
  color: grey;
  box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
  transition: .5s;
  margin: 30px 25%;
}

.searchName button {
  position: absolute;
  margin: 6% 0px 0 -32%;
}

/*contenedor de las cartas de los pokemones*/
.pokecontainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 0 0 15%;
}

.pokecontainer li {
  list-style: none;
}

.card {
  margin-bottom: 1rem;
  border-radius: 20px;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  display: flex;
  text-align: left;
  height: 100%;
  transition: .3s;
  text-shadow: 0 0 1.4px black;
  background-color: lightblue;
  width: 300px;
  box-shadow: 1px 2px 3px black;
}

.card:hover {
  transform: scale(1.1);
  transition: .3s;
  color: white;
}

.characterDetail-container{
  display: block;
  max-width: 100%!important;
}